@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: #e4e9ec;
    --outline: 2px solid #e4e9ec;
    --outlineClr : #e4e9ec;
    --bkg : linear-gradient(#417d8c, #4c5b6e);
}

body {
    font-family: 'Noto Sans', sans-serif;
    color:rgb(255, 246, 246);
    background: var(--bkg);
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    height: calc(100vh - 80px - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.bio-pp {
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(65,125,140, 0.5);
    transition: box-shadow 0.5s ease-in-out;
}


.container .bio-pp img {
    width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: 50% 50%;
    
}

.bio-pp img:hover {
    width: 100%;
    transform: scale(1.05);
    
}

.container .bio {
    width: 600px;
    padding: 30px 50px;
    color: var(--clr);
    outline: var(--outline);
    border: var(--outline);
    outline-offset: -2px;
    transition: outline-width 200ms ease, outline-offset 200ms ease;
}

.container .bio:hover, .container .bio:focus {
    outline: var(--outline);
    outline-width: 8px;
    outline-offset: -8px;
}

.container .bio p {
    font-size: 1.1rem;
    font-weight: 300;
}

.keyword {
    font-weight: bold;
    position: relative;
}

.keyword::after, .bento::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    right: 0;
    background-color: var(--outlineClr);
    transition: width 0.3s ease-in;
    -webkit-transition: width 0.3s ease-in;
}

.keyword:hover::after, a:hover .bento::after {
    width: 100%;
    left: 0;
}
